<%= button_to remove_student_path(student), method: :delete, class: "btn-link" do %>
  <span class="sr-only">Remove student</span>
  <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
<% end %>
