<%= render "shared/main_nav", back_path: root_path, title: title %>

<main class="container" role="main">
  <%= render "header", path_for_new_note: new_note_students_path %>
  <ul id="note-category-tabcontent" class="tab-content">
    <li role="tabpanel" class="tab-pane" id="private">
      <ul class="list-unstyled">
        <%= render private_notes %>
      </ul>
    </li>
    <li role="tabpanel" class="tab-pane active" id="public">
      <ul class="list-unstyled">
        <%= render public_notes %>
      </ul>
    </li>
  </ul>
</main>
