<%= render "shared/main_nav", back_path: student_path(student), title: "New Note" %>

<main class="container" role="main">
  <%= render student %>
  <%= form_for [student, note] do |f| %>
    <%= f.submit class: "btn btn-wide" %>
  <% end %>
</main>
