<nav role="navigation">
  <ul>
    <li><%= link_to "Participants", students_path %></li>
    <li><h1><%= link_to "Interactions", interactions_path %></h1></li>
  </ul>
</nav>
<p>Select for more information</p>
<div id="interaction-chart">Chart placeholder</div><!-- TODO replace with real chart -->
