<h1>Select a Prototype</h1>
<nav>
  <ul>
    <li><%= link_to "P1", p1_student_path(id: student.id) %></li>
    <li><%= link_to "P2", p2_student_path(id: student.id) %></li>
    <li><%= link_to "P3", p3_student_path(id: student.id) %></li>
  </ul>
</nav>
