<%= render "shared/main_nav", back_path: students_path, title: "Participant Profile" %>

<main class="container" role="main">
  <%= render student %>
  <ul class="nav nav-tabs" id="note-category-tablist" role="tablist">
    <li role="presentation" class="active">
      <a href="#public" aria-controls="public" role="tab" data-toggle="tab">Public</a>
    </li>
    <li role="presentation">
      <a href="#private" aria-controls="private" role="tab" data-toggle="tab">Private</a>
    </li>
  </ul>
  <ul class="tab-content" id="note-category-tabcontent">
    <li role="tabpanel" class="tab-pane active" id="public">
      <%= render "notes", notes: student.public_notes, student: student,
          missing_msg: "No public notes have been made" %>
    </li>
    <li role="tabpanel" class="tab-pane" id="private">
      <%= render "notes", notes: student.private_notes(user: current_user),
          student: student, missing_msg: "You have not made any private notes" %>
    </li>
  </ul>
</main>
