<nav role="navigation">
  <%= link_to back_path do %>
    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
    Back
  <% end %>
  <h1><%= title %></h1>
  <%= button_to 'Logout', destroy_user_session_path, method: :delete %>
</nav>
