<main class="container" role="main">
  <nav role="navigation">
    <%= logout_link %>
    <ul class="list-unstyled" id="home-menu">
      <li><%= link_to "View Participants", students_path, class: "btn btn-wide" %></li>
      <li><%= link_to "Create New Note", new_note_students_path, class: "btn btn-wide" %></li>
    </ul>
  </nav>
</main>
