/*
 * This is no longer a manifest file and has been changed into a SASS file. To include other files,
 * use the @import statement. The old comment remains in case we want to change it back.
 * 
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

@import "main";
@import "home";
@import "students";
@import "notes";

// Variables
$bg-colour: #FEFEFE;
$lighter-blue: #84d4fa;
$darker-blue: #3e9ad2;
$light-purple: #b78cba;

// General CSS
html {
    height: auto;
    min-height: 100%;
}

body {
    font-size: 14px;
    color: #777; 
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 400;
    background: url("bg_warm.jpg");

    background-repeat: no-repeat;
    background-size: 100% 100%;

    padding-top: 80px;
    padding-bottom: 60px;
    letter-spacing: 0.005em;
}

.center {
	text-align: center;
}

input, button {
	border-radius: 10px;
	padding: 5px;
}

.subhead > a{
    color: #555;
    font-size: 1em;
    font-weight: 400;
}

.btn{
	border: 1px solid $darker-blue; /* #898C93; */
    color: $darker-blue;
    background: $lighter-blue;
    text-shadow: 0 2px 3px rgba(255,255,255,0.8);
    .subhead > a {
        color: $darker-blue;
    }
    :hover .subhead > a{
        color: $darker-blue;
    }
}

.btn, .btn default {
    &.active {
        color: $darker-blue;
    }
}

#note-category-tablist {
	margin: 10px 15px;
}

.navbar-default .navbar-brand {
	color: white;
}

label{
    font-weight: 400;
}

@media (max-width: 1400px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }

    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

.mood-radio:checked + label {
  border: 1px solid #898C93;
}