// Variables
$bg-colour: #FEFEFE;
$lighter-blue: #84d4fa;
$darker-blue: #3e9ad2;
$light-purple: #b78cba;

//main.scss
.textEntry{
    width: 100%;
}

.moodsSectionTitle{
    font-size: 14px;
    color: #777777;
    margin: 25px 5px 20px 40px;
    text-align: center;
}

.moodsDiv{
    clear:both;
    height: 100px;
    text-align:center;
}

.moodsNumeric, .moodsVisualization{
    margin-left:40px;
    margin-top: 15px;
}

.moodsNumeric, .moodsVisualization, .moodsSectionTitle{
    display: inline-block;
    float:left;
}
.moodsVisualization, .moodsSectionTitle{
    float:left;
}

.radioButton{
    padding-right: 10px;
}

#sortDropdown{
    float:right;
}
#boundingBox, .mainStudentContent{
    margin: 10px 15px;
}

.noteHeader{
    font-size: 12px;
    margin-bottom: -10px;

}
.noteHeaderItem-left, .noteHeaderItem-middle{
    border-right: 1px solid #333; 
}

.noteHeaderItem-middle, .noteHeaderItem-right{   
    padding: 0px 5px;
}

.card {
    border: 1px solid transparent; 
    padding: 30px;
    position: relative;

    background: url("pic_bg.png");
    background-size: 100% 100%;

    max-width: 45%;
    float: left;

    word-break: break-word;
    text-align: center;

    .card-info {
        text-align: center;
        margin: auto;

        .card-image {
        text-align: center;
            img {
                margin: auto;
                height: 100px;
                width: 100px;
                border: 1px solid transparent;
                border-radius: 100px;
            }
        }
    }
    
    
}
.cardTitle{
    font-size: 20px;
    color: $darker-blue; /* #337ab7; */
}

.subhead{
    color: #555;
    font-size: 1em;
    font-weight: 600;
}
.btn {
    background: none;
    color: #000011;
    border: 2px solid #898C93;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: bold;
}

.btn-wide {
    width: 100%;
}

.navbar-header, .navbar-header.navbar-toggle {

}

.navbar-default{
    background: url("nav_bg_warm.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: $darker-blue 1px solid;

    .navbar-brand{
        color: white;
        text-shadow: 0 1px 3px rgba(0,0,0,0.8);
    }
}

.navbar-default .navbar-brand{
    color: white;
}

.nav-tabs {
    & > li {
        &.active {
            & > a {
                
            }
        }
        a {
            border: 1px white solid;
            border-radius-top: 5px;
        }
    }
}

#main-nav {
    background-color: #86A3C5;
    padding: 5px 0;
    margin: 10px 0;
    color: white;
    > h1 {
        margin: 0;
        text-transform: uppercase;
        font-size: 20px;
        text-align: center;
    }
    a {
        color: white; /*#107EF8;*/
    }
}

.input-group {
    border: 3px solid #333;
    > input,
    > .input-group-addon {
        background-color: $lighter-blue; /* #AEC1D7; */
        border: 0;
        border-radius: 0;
    }
}

textarea.form-control {
    background-color: #898C93;
    border: 0;
    border-radius: 0;
    color: #000011;
    &::-webkit-input-placeholder {
       color: #333;
    }
    &:-moz-placeholder { /* Firefox 18- */
       color: #333;
    }
    &::-moz-placeholder {  /* Firefox 19+ */
       color: #333;
    }
    &:-ms-input-placeholder {  
       color: #333;
    }
}

.attention {
    color: #29e;
    text-transform: none;
    font-size: 1.0em;
    text-decoration: none;
    font-weight: 600;
}

fieldset {
    margin-bottom: 15px;
}

#logout-link .btn-link,
.btn-link,
.devise-link,
.normal-link {
  /*  color: #000011; */
    color: #777777;
   /* text-decoration: underline; */
    &:hover {
    /*  color: #555; */
        color: #000011;
        text-decoration: none;

    }
}

#logout-link{
   margin-left: 10px;
}

.gray-container {
    background-color: #898C93;
    padding: 1px 5px;
    > p {
        margin: 0;
    }
}

.form-group {
    margin-top: 5px;
}
