// Variables
//$bg-colour: #4B74A3;
$bg-colour: #FEFEFE;
// #f7f7f7;
//#2c2c2c;

body {
    font-size: 14px;
   /* color: #000011; */
    color: #777;
    /*    color: #555;*/
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 400;
    background: rgb(254,254,254);
    padding-top: 80px;
    padding-bottom: 60px;
    letter-spacing: 0.005em;
}

.textEntry{
    width: 100%;
}

.moodsSectionTitle{
    font-size: 14px;
    color: rgb(119, 119, 119);
    margin: 40px 10px 20px 40px;
}

.moodsDiv{
    clear:both;
    height: 120px;
}

.moodsNumeric, .moodsVisualization{
    margin-left:50px;
    margin-top: 15px;
}

.moodsNumeric, .moodsVisualization, .moodsSectionTitle{
        display: inline-block;

}
.moodsVisualization, .moodsSectionTitle{
    float:left;
}
.radioButton{
    padding-right: 10px;
}
#sortDropdown{
    float:right;
}
#boundingBox, .mainStudentContent{
    margin: 10px 15px;
}
.cardTitle{
    font-size: 20px;
    color: #337ab7;
}
.noteHeader{
    font-size: 12px;
    margin-bottom: -10px;

}
.noteHeaderItem-left, .noteHeaderItem-middle{
    border-right: 1px solid #333; 
}

.noteHeaderItem-middle, .noteHeaderItem-right{   
    padding: 0px 5px;
}

.mainCard{
    margin: 10px 15px;
}

.card {
    border: 1px solid #eee;
    padding: 15px 15px 5px 15px;
    background: white;
    position: relative;
    word-break: break-word;
 /*   margin-bottom: 10px; 
    margin: 10px 15px; */
}
.subhead{
    color: #555;
    font-size: 1em;
    font-weight: 600;
}
.btn {
    background: none;
    color: #000011;
    border: 2px solid #898C93;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: bold;
}

.btn-wide {
    width: 100%;
}

#main-nav {
    background-color: #86A3C5;
    padding: 5px 0;
    margin: 10px 0;
    > h1 {
        margin: 0;
        text-transform: uppercase;
        font-size: 20px;
        text-align: center;
    }
    a {
        color: #107EF8;
    }
}

.input-group {
    border: 3px solid #333;
    > input,
    > .input-group-addon {
        background-color: #AEC1D7;
        border: 0;
        border-radius: 0;
    }
}

textarea.form-control {
    background-color: #898C93;
    border: 0;
    border-radius: 0;
    color: #000011;
    &::-webkit-input-placeholder {
       color: #333;
    }
    &:-moz-placeholder { /* Firefox 18- */
       color: #333;
    }
    &::-moz-placeholder {  /* Firefox 19+ */
       color: #333;
    }
    &:-ms-input-placeholder {  
       color: #333;
    }
}

.attention {
    color: #29e;
    text-transform: none;
    font-size: 1.0em;
    text-decoration: none;
    font-weight: 600;
}

fieldset {
    margin-bottom: 15px;
}

#logout-link .btn-link,
.btn-link,
.devise-link,
.normal-link {
    color: #000011;
    text-decoration: underline;
    &:hover {
        color: #555;
    }
}

.gray-container {
    background-color: #898C93;
    padding: 1px 5px;
    > p {
        margin: 0;
    }
}

.form-group {
    margin-top: 5px;
}
