#note-category-tablist {
    border: 0;
    margin: 10px 15px;
  /*  font-size: 18px; */
    > li {
        width: 50%;
        > a {
            margin: 0;
            color: #000011;
            border: 3px solid #898C93;
            border-radius: 0;
        }
    }
    > .active > a {
        background-color: #898C93;
        font-weight: bold;
    }
}

.note {
    background: rgba(255, 255, 255, 0.5);
}

.importanceBtn{
    color: #777;
    font-size: 13px;
    font-weight: 400;
}

#expText{
    margin-bottom: -10px;
}
legend{
    font-size: 16px;
    color: #777;
    margin-top: 20px;
}
#note-category-tabcontent {
    margin-top: 5px;
    padding-left: 0;
}

#note-category-fieldset {
    font-size: 18px;
    > input[type="radio"] {
        display: none;
        &:checked + label {
            background-color: #898C93;
            font-weight: bold;
        }
        &:focus + label {
            background-color: #fff;
        }
    }
    > label {
        width: 50%;
        padding: 10px 15px;
        border: 3px solid #898C93;
        font-weight: normal;
        &:hover {
            background-color: #fff;
        }
    }
}

.note {
    padding: 5px 7px 0;
}

/* lines A, B, and C are voodoo to make the mood images line up with the N/A text.
 * (Perhaps we should consider just making N/A an equally sized image.)
 * Ideas were stolen from here: http://stackoverflow.com/a/2744005/830988
 */

#mood-fieldset > div {
    height: 90px; /* A */
    > label {
        line-height: 90px; /* B */
    }
}

.mood-radio:checked + label {
    border: 3px solid #898C93;
}

.mood-img {
    vertical-align: top; /* C */
    > img {
        margin: 0 10px;
        height: 65px;
        width: 65px;
    }

}

#note_mood_na-label {
    padding: 0 10px;
    font-size: 30px;
    font-weight: 400;
}
