<%= render "shared/main_nav", back_path: root_path, title: "Top Issues" %>
<%= render "shared/search", model: :trigger, search_topic: "Issue", attr: :topic %>
<p>Click a topic to see participants for whom this is a trigger</p>
<table>
  <thead>
    <tr>
      <th scope="col">Topic</th>
      <th scope="col">% Students</th>
    </tr>
  </thead>
  <tbody>
    <% triggers.each do |topic, percent_students| %>
    <tr>
      <td><%= link_to topic.humanize, trigger_topic_path(id: topic) %></td>
      <td><%= percent_students %></td>
    </tr>
    <% end %>
  </tbody>
</table>
